/*--------------Colors---------------*/

$color-primary:#d93077;
$color-secondary: #ffffff;
$color-text-black:#171717;
$color-text-gray:#666;
$color-background: #d9d9e0;

/*--------------End Colors---------------*/

/*------------Fonts--------------*/
$font-general:Source Sans Pro,Roboto,Helvetica,Arial,sans-serif;
/*--------------End Fonts----------------*/


/*---------------Text Sizes-----------------*/
$size-title: 1.5rem;
$size-comment-list:.9rem;
$size-text-content:1rem;
$size-text-action:1.02rem;
$size-text-small:.75rem;
$size-button: .8rem;
/*---------------End Text Sizes-----------------*/


/**/
$shadow-setting-card: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
/**/
